html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("https://cdn.wallpapersafari.com/17/26/HXv6nC.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 62px;
  background: rgba(227, 120, 216, 0.351);
}

h2 {
  font-size: 32px;
  color: rgb(223, 58, 206);
  background: rgba(198, 71, 185, 0.351);
}

.signature {
  bottom: 0;
}

.main__container {
  padding: 32px;
  text-align: center;
  color: rgb(118, 2, 104);
}
